.about-glance__item {
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    height: 280px;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .15)!important
}

.about-glance__item a {
    text-align: center;
    display: block;
    color: #333
}

.about-glance__item a i {
    display: inline-block;
    margin-bottom: 0;
    background: url(../../images/icon-position-ud.png) no-repeat;
    height: 68px
}

.about-glance__item a i.glance-icon1 {
    background-position: -10px 8px;
    width: 80px
}

.about-glance__item a i.glance-icon2 {
    background-position: -100px 8px;
    width: 99px
}

.about-glance__item a i.glance-icon3 {
    background-position: -420px 8px;
    width: 60px
}

.about-glance__item a i.glance-icon4 {
    background-position: -305px 8px;
    width: 88px
}

.about-glance__item a i.glance-icon5 {
    background-position: -200px 8px;
    width: 98px
}

.about-glance__item a i.glance-icon6 {
    background-position: -520px 8px;
    width: 163px
}

.about-glance__item a i.glance-icon7 {
    background-position: -721px 8px;
    width: 59px
}

.about-glance__item a i.glance-icon8 {
    background-position: -815px 4px;
    width: 72px
}

.about-glance__item a i.glance-icon9 {
    background-position: -915px 8px;
    width: 170px
}

.about-glance__item a h4 {
    text-transform: uppercase;
    font-size: 35px;
    margin: 0;
    font-weight: 700;
    font-style: italic
}

.about-glance__item a p {
    font-size: 19px;
    padding: 0 65px;
    margin: 0;
    line-height: 22px
}

.about-glance__item a span {
    display: inline-block;
    width: 55px;
    height: 4px;
    background: #e7e7e7;
    border-radius: 3px
}

.about-glance__item a p.top-icon {
    margin: 30px 0 0
}

.about-glance__item:hover h4 {
    font-style: normal
}

.about-glance__item.bg-1 {
    background: #f5f7fc
}

.about-glance__item:hover {
    background: #3e95cb;
    transition: all .3s ease
}

.about-glance__item:hover a {
    color: #fff
}

.about-glance__item:hover span {
    width: 95px
}

.about-glance__item:hover i.glance-icon1 {
    background-position: -10px -62px
}

.about-glance__item:hover i.glance-icon2 {
    background-position: -100px -62px
}

.about-glance__item:hover i.glance-icon3 {
    background-position: -420px -62px
}

.about-glance__item:hover i.glance-icon4 {
    background-position: -305px -62px
}

.about-glance__item:hover i.glance-icon5 {
    background-position: -200px -62px
}

.about-glance__item:hover i.glance-icon6 {
    background-position: -520px -62px
}

.about-glance__item:hover i.glance-icon7 {
    background-position: -721px -62px
}

.about-glance__item:hover i.glance-icon8 {
    background-position: -815px -66px
}

.about-glance__item:hover i.glance-icon9 {
    background-position: -915px -62px
}

.about-glance {
    padding-top: 30px
}

.about-glance__content {
    padding: 0 70px;
    margin-bottom: 50px
}

.about-glance__content [class*=col-] {
    padding: 5px
}

.about-glance__video {
    background: 0 0;
    min-height: 700px;
    display: flex;
    align-items: center
}

.about-glance__video--inner {
    padding: 0 60px;
    text-align: center
}

.about-glance__video--inner h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px
}

.about-glance__video--inner iframe {
    width: 100%;
    height: 550px
}

@media (max-width: 767px) {
    .about-glance__video {
        display: block;
        min-height: 400px;
    }
    
    .about-glance__video--inner iframe {
        height: 300px;
    }

    .about-glance__content {
        padding: 0 15px;
    }

    .about-glance__video--inner {
        padding: 0;
    }
    
    .about-glance__video--inner h3 {
        margin-top: 20px;
        font-size: 25px;
    }

    .about-glance__item a h4 {
        font-size: 25px;
    }
}