.share-holding-banner-inner {
    color: #fff
}

.share-holding-banner-inner h1 {
    text-transform: uppercase
}

.share-holding-banner-inner p {
    /* font-size: 25px; */
    font-weight: 300
}

.share-holding-icon {
    text-align: center
}

.share-holding-icon a {
    display: inline-block
}

.share-holding-icon img {
    display: inline-block;
    height: 115px
}

.share-holding-text {
    background: #fff;
    border-radius: 6px;
    padding: 30px;
    height: 260px;
    overflow: hidden;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    margin-bottom: 30px
}

.share-holding-text p {
    font-size: 18px;
    text-align: justify
}

.share-holding-img {
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .share-holding-banner-inner h1 {
        font-size: 30px;
    }
}