.about-infrastructure__item {
}

.about-infrastructure__item--icon {
    width: 70px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.about-infrastructure__item--title {
    overflow: hidden;
    padding-left: 10px
}

.about-infrastructure__item--title h4 {
    text-transform: uppercase;
    font-weight: 700;
    height: 19px;
    overflow: hidden
}

.about-infrastructure__item--title p {
    height: 57px;
    overflow: hidden
}

.about-infrastructure-2 .col-md-3 {
    width: 20%
}

.about-infrastructure-2 .about-infrastructure__item--title p {
    display: flex;
    align-items: center;
    font-size: 18px
}

.about-infrastructure-2 {
    margin-top: 50px;
}



