.about-us .title-content h3 {
    margin-top: 0;
}

.about-us {
    display: flex;
    align-items: center
}

.about-us {
    padding: 30px 0
}
.about-us .container-fluid {
    width: 100%
}

.about-us .about-us__item {
    width: 20%;
    float: left;
    text-align: center
}

.about-us .about-us__item a {
    display: inline-block
}

.about-us .about-us__item a img {
    margin-bottom: 15px;
    width: 50%
}

.about-us .about-us__item a span {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    color: #000;
    font-weight: 500
}

.about-us .about-us__item:hover {
    transform: translateY(-10%);
    transition: all .5s ease
}

.about-us .about-us__item:hover span {
    color: #4682b4
}

.about-us__inner {
    padding: 0
}

@media (max-width: 767px) {
    .about-us__inner {
        display: table;
        text-align: center;
    }

    .about-us .about-us__item {
        display: inline-table;
        margin-top: 15px;
        width: 50%;
        float: none;
    }    

    .about-us .about-us__item a img {
        max-width: 50px;
        width: 100%;
    }
}