.about-content__module {
    margin-bottom: 70px
}

.about-content__item--title {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 25px
}

.about-content__item--title h4 {
    text-transform: uppercase;
    color: #039;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 5px
}

.about-content__item--inner p {
    font-size: 15px;
    color: #000
}

.about-content__item--inner h4 {
    line-height: 21px;
    color: #000;
    text-transform: uppercase;
    font-size: 15px
}

.about-content__item {
    width: 80%;
    margin: 0 auto
}

@media (max-width: 1023px) {
    .about-content__module .container-fluid {
        padding: 0 15px;
    }

    .about-milestones-inner .container {
        overflow: hidden;
    }

    .about-content__module .total-area {
        text-align: center;
    }

    .about-content__item--title h4 {
        font-size: 30px;
    }
}