.about-leaflet__item {
    text-align: center
}

.about-leaflet__item--img {
    display: block;
    margin-bottom: 25px
}

.about-leaflet__item--img img {
    width: 100%
}

.about-leaflet__item--title {
    text-align: center
}

.about-leaflet .page-heading {
    margin-bottom: 70px
}

.about-leaflet__item--link {
    font-size: 18px;
    display: inline-block
}

.about-leaflet {
    margin-bottom: 30px
}

.call-contact {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center
}

.call-contact img {
    width: 70%;
    display: inline-block
}

@media (max-width: 1022px) {
    .about-leaflet .page-heading {
        margin-bottom: 30px;
    }

    .about-leaflet__item {
        margin-bottom: 15px;
    }

    .call-contact {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .call-contact img {
        width: 100%;
    }
}
