

.banner-slider .slick-list, .banner-slider .slick-list .slick-track, .banner-slider .slick-list .slick-track .slick-slide, .banner-slider .slick-list .slick-track .slick-slide>div {
    height: 100%
}

.banner-slider .slick-prev {
    left: 43px!important;
    background: url(../../images/left.png) no-repeat;
    background-size: cover;
    background-position: 50%
}

.banner-slider .slick-next {
    right: 43px!important;
    background: url(../../images/right.png) no-repeat;
    background-size: cover;
    background-position: 50%
}

.banner-slider .slick-next, .banner-slider .slick-prev {
    width: 35px;
    height: 68px;
    z-index: 2;
    top: 50%
}

.banner-slider .slick-next:before, .banner-slider .slick-prev:before {
    content: ""
}

.banner-slider .slick-dots {
    bottom: 40px
}

.banner-slider .slick-dots li, .banner-slider .slick-dots li button {
    width: 16px;
    height: 16px
}

.banner-slider .slick-dots li button:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    border-radius: 50%;
    opacity: 1
}

.banner-slider .slick-dots li button:focus:before, .banner-slider .slick-dots li button:hover:before, .banner-slider .slick-dots li.slick-active button:before {
    border-color: hsla(0, 0%, 100%, .6);
    background: hsla(0, 0%, 100%, .6)
}

.banner-slider__item {
    position: relative;
    height: 100%
}

.banner-slider__item .banner-slider__inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    padding: 0 9%;
    justify-content: flex-start;
    align-items: flex-end
}

.banner-slider__item .banner-slider__title {
    color: #fff;
    padding: 2% 5%;
    width: auto;
    background: rgba(0, 102, 153, .75);
    margin-bottom: 8.7%
}

.banner-slider__item .banner-slider__title h1 {
    text-transform: uppercase;
    font-weight: 200;
    line-height: 34px;
    font-size: 22px;
    overflow: hidden;
    height: auto;
    margin: 0;
    margin-bottom: 10px;
    word-wrap: break-word
}

.banner-slider__item .banner-slider__title h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0
}

.banner-slider__item .banner-slider__title p {
    font-size: 17px;
    font-weight: 200;
    font-style: italic;
    height: auto;
    overflow: hidden;
    word-wrap: break-word
}

.banner-slider__item .banner-slider__title a {
    text-transform: uppercase;
    display: inline-block;
    color: #fff
}

.banner-slider__item .banner-slider__title a:hover {
    color: #337ab7
}

.banner-slider__item img {
    width: 100%;
    height: 100%
}

@media (min-width:1280px) and (max-width:1450px) {
    .banner-slider .slick-dots {
        bottom: 25px
    }
}