body {
    font-family: Roboto, sans-serif;
    font-weight: 400
}

a:hover {
    transition: all .2s ease;
    text-decoration: none
}

ul {
    margin: 0;
    padding: 0
}

.sustainability-banner .banner-slider__item .banner-slider__title {
    padding: 20px 35px;
    width: auto
}

.content {
    background: #fff
}

.title-content {
    margin-bottom: 25px
}

.title-content h3 {
    border-bottom: none;
    width: 100%;
    padding: 10px 0;
    position: relative;
    background: 0 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0
}

.title-content h3:after {
    content: "";
    display: block;
    width: 95px;
    height: 5px;
    background: #1292cd;
    background: -moz-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, #1292cd), color-stop(100%, #bbd040));
    background: -webkit-linear-gradient(left, #1292cd, #bbd040);
    background: -o-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: -ms-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: linear-gradient(90deg, #1292cd 0, #bbd040);
    position: absolute;
    bottom: -1px
}

.title-content h3:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #d0e9f5;
    background: -moz-linear-gradient(left, #d0e9f5 0, #f1f6d9 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, #d0e9f5), color-stop(100%, #f1f6d9));
    background: -webkit-linear-gradient(left, #d0e9f5, #f1f6d9);
    background: -o-linear-gradient(left, #d0e9f5 0, #f1f6d9 100%);
    background: -ms-linear-gradient(left, #d0e9f5 0, #f1f6d9 100%);
    background: linear-gradient(90deg, #d0e9f5 0, #f1f6d9);
    position: absolute;
    bottom: 0
}

.bg-content-style {
    padding: 25px 0;
    background: url(../../images/about-us-bg.jpg) repeat
}

.content-item {
    margin-bottom: 25px
}

.news-page, .sustainability {
    border-bottom: 1px solid rgba(0, 0, 0, .06)
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #c90
}

.content-scrollbar {
    height: 398px
}

.style-1 .style-1-left {
    padding-right: 20px;
    width: 48.5%
}

.style-1 .style-1-right {
    padding-top: 50px;
    width: 46.5%
}

.width-100 {
    width: 100%
}

footer {
    background: linear-gradient(90deg, #02297e, #1a77c7, #5da988, #c2e20c)
}

footer .pull-left, footer .pull-right {
    line-height: 43px;
    font-size: 15px;
    color: #fff;
    font-weight: 200
}

footer .pull-right {
    text-shadow: -5px 2px 10px rgba(0, 0, 0, .6)
}

footer .pull-right:hover {
    color: #4682b4
}

.post-thumb {
    max-width: 100%;
    display: block;
    overflow: hidden
}

.post-thumb img {
    -webkit-transition: all .25s cubic-bezier(.66, .36, .17, .91);
    -moz-transition: all .25s cubic-bezier(.66, .36, .17, .91);
    -o-transition: all .25s cubic-bezier(.66, .36, .17, .91);
    transition: all .25s cubic-bezier(.66, .36, .17, .91);
    box-shadow: none;
    margin: 0;
    width: 100%
}

.post-thumb:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}


.slick-dotted.slick-slider {
    margin-bottom: 0
}

.block {
    height: 100vh;
    overflow: hidden;
    flex-direction: column
}

.banner-slider {
    height: calc(100% - 144px);
    overflow: hidden
}

.swiper-container__block {
    height: 100vh;
    overflow: hidden
}

.swiper-container__block .swiper-pagination-bullet {
    height: 20px;
    width: 4px;
    content: "";
    background: #7e7d7c;
    opacity: 1;
    border-radius: 0
}

.swiper-container__block .swiper-pagination-bullet-active {
    background: #fff
}

.relactive {
    position: relative
}


.web-page .title-content {
    margin-bottom: 30px
}

.web-page .slick-dots {
    text-align: right;
    padding-right: 15px;
    bottom: -30px
}

.web-page .slick-dots li {
    margin: 0;
    height: 10px;
    width: 30px
}

.web-page .slick-dots li button {
    height: 10px;
    width: 30px;
    padding: 0
}

.web-page .slick-dots li button:before {
    height: 10px;
    width: 30px;
    content: "";
    background: #ebebeb;
    opacity: 1
}

.web-page .slick-dots li.slick-active button:before {
    opacity: 1;
    background: #0077c0
}

.web-page .about-us {
    height: auto;
    padding: 30px 0
}

.web-page .upcoming-events {
    height: 120px;
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 20px
}

.web-page .banner-slider {
    height: auto
}

.web-page .events-img {
    height: 200px
}

.all-event {
    background: url(../images/bg-all-event.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 70px
}

.recnt-event__item {
    position: relative
}

.recnt-event__item img {
    width: 100%
}

.recnt-event__item .recnt-event__item--inner {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    background: rgba(0, 102, 153, .6);
    padding: 15px
}

.recent-event {
    margin-bottom: 70px
}

.all-event__item--inner {
    padding: 15px;
    background: rgba(195, 207, 33, .8)
}

.all-event__item--inner h4 {
    color: #fff;
    font-size: 20px
}

.all-event__item--inner h4 span {
    display: block;
    height: 3px;
    width: 30px;
    background: #fff;
    margin-top: 4px
}

.all-event__item--inner p {
    font-weight: 700
}

.all-event__item--inner p span {
    font-style: italic
}

.all-event__item {
    padding: 0 5px
}

.all-event__item img {
    width: 100%
}

.banner-page {
    min-height: 500px;
    background: 0 0;
    display: flex;
    align-items: center
}

.about-milestones {
    height: calc(100% - 144px)
}

.about-milestones__content-top {
    background: #efefef;
    height: 100%;
    display: flex;
    align-items: center
}

.about-milestones__content-top .title-content {
    margin-bottom: 55px
}

.form-year {
    padding-left: 56%;
    margin-bottom: 30px
}

.form-year .select-item {
    display: inline-block;
    width: 225px;
    float: left;
    font-style: italic;
    color: #000
}

.form-year label {
    overflow: hidden;
    font-weight: 400;
    padding-left: 35px;
    line-height: 43px;
    color: #000;
    font-size: 17px;
    margin: 0
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 14px 10px 0;
    height: 0;
    left: 0;
    margin-left: -17px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #000;
    padding: 0;
    font-size: 17px
}

.select2-container--bootstrap .select2-selection {
    border-radius: 0;
    border: 2px solid #b7b7b7
}

.select2-container--bootstrap .select2-selection--single {
    height: 43px
}

.all-event__slider {
    margin-left: -5px;
    margin-right: -5px
}

.all-event__slider .slick-dots {
    padding-right: 3px
}

.banner-page__inner {
    padding: 20px 35px;
    background: rgba(0, 102, 153, .6);
    margin-bottom: 5.7%;
    width: 50%
}

.banner-page__inner h2 {
    color: #fff;
    font-weight: 300;
    margin-top: 0
}

.banner-page__inner p {
    color: #fff;
    font-weight: 300;
    margin-bottom: 15px
}

.banner-page__inner a {
    text-transform: uppercase;
    display: inline-block;
    color: #fff
}

/* .tenants-content {
    padding: 60px 0;
    padding-bottom: 30px;
    min-height: 600px;
    background: 0 0;
    margin-bottom: 30px
}

.tenants-item {
    padding: 0 25px;
    background: hsla(0, 0%, 100%, .8);
    padding-bottom: 30px;
    margin-bottom: 30px;
    min-height: 225px;
    width: 100%;
    position: relative
}

.tenants-item span {
    display: inline-block;
    color: #fff;
    background: #c4d024;
    padding: 5px 10px;
    font-size: 44px
}

.tenants-item h4 {
    font-style: italic;
    font-size: 21px;
    margin: 15px 0;
    margin-top: 20px
}

.tenants-item .read-more {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(195, 207, 33, .8)
}

.tenants-item .read-more img {
    width: 40px;
    height: 40px
}

.tenants-item .read-more:hover {
    opacity: .6
}

.tenants-item:hover h4 {
    color: #337ab7
} */

.made-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    padding: 15px;
    border: 1px solid #26cbef;
    margin-top: 100px;
    margin-bottom: 30px
}

.made-video {
    width: 80%;
    margin: 0 auto 50px;
    background: #e6e6e6;
    padding: 30px 50px
}

.made-video iframe {
    width: 100%;
    height: 446px
}

.share-holding-content {
    padding-top: 50px;
    padding-bottom: 70px;
    margin-bottom: 0;
    min-height: 600px;
    background: 0 0
}

.block-post img {
    height: 100px;
    width: auto;
    margin: 15px auto
}

.center {
    text-align: center
}

.block-post p {
    text-align: justify;
    font-size: 20px
}

.business-page {
    margin-bottom: 0
}

.banner-slider-page {
    margin-bottom: 25px!important
}

.banner-slider-page .slick-dots {
    display: none!important
}

.banner-slider-page .banner-slider__item img {
    width: 100%;
    height: 530px
}

.upcoming-events__slider {
    margin-bottom: 25px
}

.upcoming-events__slider .upcoming-events {
    margin-bottom: 0
}

.about-milestones__slider .slick-prev, .charity__slider .slick-prev, 
.news-page__slider .slick-prev, .recent-event__slider .slick-prev {
    left: -40px!important;
    background: url(../../images/left.png) no-repeat;
    background-size: cover;
    background-position: 50%
}

.about-milestones__slider .slick-next, .charity__slider .slick-next, 
.news-page__slider .slick-next, .recent-event__slider .slick-next {
    right: -40px!important;
    background: url(../../images/right.png) no-repeat;
    background-size: cover;
    background-position: 50%
}

.about-milestones__slider .slick-next, 
.about-milestones__slider .slick-prev, 
.charity__slider .slick-next, 
.charity__slider .slick-prev, 
.news-page__slider .slick-next, 
.news-page__slider .slick-prev, 
.recent-event__slider .slick-next, 
.recent-event__slider .slick-prev {
    width: 20px;
    height: 39px;
    z-index: 2;
    top: 50%
}

.about-milestones__slider .slick-next:before, 
.about-milestones__slider .slick-prev:before, 
.charity__slider .slick-next:before, 
.charity__slider .slick-prev:before, 
.news-page__slider .slick-next:before, 
.news-page__slider .slick-prev:before, 
.recent-event__slider .slick-next:before, 
.recent-event__slider .slick-prev:before {
    content: ""
}

.charity__slider .slick-prev {
    left: 30px
}

.charity__slider .slick-next {
    right: 30px
}

.mouse-icon {
    margin-top: -60px;
    z-index: 99;
    position: relative;
    float: right;
    margin-right: 20px
}

.mouse-icon__inner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, .5)
}

.mouse-icon__inner img {
    opacity: .8
}

.mouse-icon__inner i {
    color: #fff;
    font-size: 15px
}

.mouse-icon__inner .flash {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite
}

.about-map {
    margin-bottom: 35px
}

.about-milestones-inner {
    margin-bottom: 90px
}

.about-milestones-inner .page-heading {
    margin-bottom: 70px
}

.page-heading h2 span {
    position: absolute;
    left: 50%;
    color: #039;
    text-transform: none
}

.page-heading {
    margin-top: 30px;
    background: #1f86d5 url(../../images/heading-bg.jpg) no-repeat;
    background-size: 100% 100%;
    min-height: 69px;
    background-position: 130px 0
}

.page-heading h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    line-height: 69px;
    margin-top: 0;
    margin-bottom: 0
}

.about-img-big {
    min-height: 700px;
    background: 0 0;
    margin-bottom: 60px
}

.about-img-big img {
    width: 100%
}

.about-page img {
    max-width: 100%;
    height: auto
}

.about-img-big-custom img {
    width: 100%;
    height: auto
}

.award-banner {
    position: relative;
    overflow: hidden
}

.award-banner .award-banner__title {
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    text-transform: uppercase;
    background: rgba(204, 255, 153, .6);
    color: #000;
    left: 10%;
    top: 5%;
    font-size: 26px;
    font-weight: 500
}

.award-banner img {
    width: 100%
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, .8) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iOCwyLjggMTYsMTAuNyAxMy42LDEzLjEgOC4xLDcuNiAyLjUsMTMuMiAwLDEwLjcgIi8+DQo8L3N2Zz4NCg==) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s
}

.cd-top.cd-fade-out, .cd-top.cd-is-visible, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1
}

.cd-top.cd-fade-out {
    opacity: .5
}

.cd-top.cd-fade-out:hover, .no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1
}

.head-title {
    padding: 35px 0 10px
}

.column-img, .column-text {
    display: table-cell;
    width: 50%
}

.font-14 {
    font-size: 14px!important;
    height: 20px
}


@media only screen and (min-width:768px) {
    .cd-top {
        right: 20px;
        bottom: 20px
    }
}

@media only screen and (min-width:1024px) {
    .banner {
        max-height: 800px;
        overflow: hidden;
        min-height: 0;
        height: 800px
    }

    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px
    }

    .container-fluid {
        padding: 0 100px
    }
}

@media (min-width:1280px) and (max-width:1450px) {
    .banner-slider .slick-dots {
        bottom: 25px
    }
}