.charity {
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 25px
}

.charity__slider .slick-dots {
    padding-right: 15px
}

.charity__item {
    padding: 0 15px
}

.charity__item--content {
    position: relative;
    overflow: hidden
}

.charity__item--content img {
    width: 100%
}

.charity__item--content .charity__item--inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 102, 153, .6);
    color: #fff;
    opacity: 0;
    transform: translateY(30%);
    transition: all .4s ease
}

.charity__item--content .charity__item--inner .clearfix {
    width: 70%
}

.charity__item--content .charity__item--inner h4 {
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 22px;
    font-size: 19px;
    height: 44px;
    overflow: hidden
}

.charity__item--content .charity__item--inner span {
    display: block;
    font-style: italic;
    margin-bottom: 10px
}

.charity__item--content .charity__item--inner p {
    font-weight: 300;
    font-size: 17px;
    height: 96px;
    overflow: hidden
}

.charity__item--content .charity__item--inner a {
    display: inline-block;
    position: absolute;
    bottom: 25px;
    right: 30px;
    width: 45px
}

.charity__item--content:hover .charity__item--inner {
    transform: translateY(0);
    opacity: 1;
    transition: all .4s ease
}

@media (max-width: 767px) {
    .charity {
        overflow: hidden;
    }

    .charity__slider .slick-prev {
        left: 15px !important;
    }

    .charity__slider .slick-next {
        right: 15px !important;
    }
}