.csr {
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 0
}

.csr-item {
    position: relative
}

.csr-item img {
    width: 100%
}

.csr-item__inner {
    width: 55%;
    padding: 5px 20px;
    position: absolute;
    right: 15px;
    bottom: 0;
    color: #fff;
    background: #1292cd;
    background: -moz-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, #1292cd), color-stop(100%, #bbd040));
    background: -webkit-linear-gradient(left, #1292cd, #bbd040);
    background: -o-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: -ms-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: linear-gradient(90deg, #1292cd 0, #bbd040)
}

.csr-item__inner h4 {
    position: relative
}

.csr-item__inner h4 span {
    display: block;
    font-style: italic;
    margin-top: 5px;
    font-weight: 300
}

.csr-item__inner h4 a {
    width: 35px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%)
}

.csr-item__inner h4 a img {
    width: 100%
}

.csr-item__inner h4 a:hover img {
    opacity: .7
}