.events {
    margin-bottom: 0
}

.events .width-100 {
    height: 100%
}

.events img {
    display: inline-block;
    width: 70%
}

.events h4 {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    color: #000;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase
}

.events h4 span {
    display: block;
    margin-top: 5px
}

.events a {
    font-size: 17px;
    color: #000;
    line-height: 50px;
    padding: 0 25px;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid #000
}

.events a:hover {
    background: #bbd040;
    border: 1px solid #bbd040;
    color: #fff!important
}

#clock, #clock-2 {
    font-size: 17px
}

#clock span, #clock-2 span {
    color: #fff;
    background: #c3cf21;
    line-height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    margin-left: 5px
}

.events-img {
    height: calc(67% - 77px)
}

.events-img img {
    width: 100%;
    height: 100%
}

.upcoming-events {
    height: 150px;
    display: flex;
    align-items: center
}

.upcoming-events .container, .upcoming-events .container .row {
    height: 100%
}

.upcoming-events [class*=col-] {
    height: 100%;
    display: flex;
    align-items: center
}

@media (min-width: 1023px) and (max-width: 1199px) {
    .events a {
        padding: 0 15px;
        font-size: 15px;
        line-height: 40px;
    }

    #clock, #clock-2 {
        font-size: 15px
    }
    
    #clock span, #clock-2 span {
        line-height: 40px;
        width: 40px;
    }    
}

@media (max-width: 1022px) {
    #clock, #clock-2 {
        font-size: 11px
    }
    
    #clock span, #clock-2 span {
        line-height: 35px;
        width: 35px;
    }   
    
    .events a {
        padding: 0 15px;
        font-size: 11px;
        line-height: 35px;
    }  
}

@media (min-width: 768px) and (max-width: 1022px) {
    .upcoming-events .container .row {
        display: flex;
        align-content: space-between;
    }
    .upcoming-events [class*=col-] {
        padding: 0;
        padding-left: 10px;
    }

    .upcoming-events [class*=col-]:nth-child(1) {
        -webkit-flex: 1 1 20%; /* Safari 6.1+ */
        -ms-flex: 1 1 20%; /* IE 10 */ 
        flex: 1 1 20%;
    }

    .upcoming-events [class*=col-]:nth-child(2) {
        -webkit-flex: 1 1 30%; /* Safari 6.1+ */
        -ms-flex: 1 1 30%; /* IE 10 */ 
        flex: 1 1 30%;
    }

    .upcoming-events [class*=col-]:nth-child(3) {
        -webkit-flex: 1 1 35%; /* Safari 6.1+ */
        -ms-flex: 1 1 35%; /* IE 10 */ 
        flex: 1 1 35%;
    }    

    .upcoming-events [class*=col-]:nth-child(4) {
        -webkit-flex: 1 1 15%; /* Safari 6.1+ */
        -ms-flex: 1 1 15%; /* IE 10 */ 
        flex: 1 1 15%;
    }  
}

@media (max-width: 767px) {
    .events-img {
        height: auto;
    }

    .upcoming-events {
        display: block;
        height: auto;
    }

    .upcoming-events [class*=col-] {
        display: block;
        flex: none;
    }

    .events img {
        display: block;
        margin: 10px auto 15px;
        width: auto;
        height: auto;
        max-width: 100%;
        float: none !important;
    }

    .events h4 {
        display: block;
        margin-bottom: 15px;
        float: none !important;
    }

    .events #clock {
        margin-bottom: 15px;
        float: none !important;
        text-align: center;
    }

    .events a {
        float: none !important;
        display: block;
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
    }
}