.navbar {
    min-height: auto;
    border-style: none;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
    background: linear-gradient(90deg, #02297e, #1a77c7, #5da988, #c2e20c);
    z-index: 9999
}

.menu {
    float: inherit;
    width: 100%;
    display: table
}

.menu>li {
    float: inherit;
    display: table-cell;
    text-align: center;
    position: relative
}

.menu>li>a {
    font-size: 20px;
    color: #fff!important;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 300
}

.menu>li .fa-angle-down {
    position: absolute;
    color: #fff;
    right: 23px;
    top: 50%;
    font-size: 22px;
    transform: translateY(-50%);
    z-index: 1;
}

.no-touch .menu>li:hover>a,
.menu>li.focus>a {
    background: #09c!important
}

.no-touch .menu>li:hover .sub-menu,
.menu>li.active .sub-menu {
    visibility: inherit;
    height: auto;
    transform: translateY(0);
    opacity: 1;
    transition: all .8s ease
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 0;
    transform: translateY(-30%);
    opacity: 0;
    visibility: hidden
}

.sub-menu li {
    display: block
}

.sub-menu li a {
    display: block;
    color: #fff;
    line-height: 35px;
    font-size: 16px;
    background: rgba(0, 153, 204, .6)
}

.no-touch .sub-menu li a:hover {
    background: rgba(0, 153, 204, .9)!important;
    color: #fff
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .sub-menu li.active a {
    background: #09c!important
}

@media (min-width: 1023px) and (max-width: 1199px) {
    #bs-example-navbar-collapse-1 .menu > li .fa-angle-down {
        right: 7px;
    }
}

@media (min-width: 768px) and (max-width: 1022px) {
    #bs-example-navbar-collapse-1 .menu > li a {
        font-size: 15px;
        line-height: 15px;
    }

    #bs-example-navbar-collapse-1 .menu > li .fa-angle-down {
        right: 3px;
        font-size: 20px;
    }

    #bs-example-navbar-collapse-1 .sub-menu li a {
        font-size: 14px;
        line-height: 30px;
    }
}