.news-slider {
    margin-bottom: 30px
}

.news-slider .lastest-new__item--readmore {
    padding-right: 0
}

.news-slider .slick-prev {
    right: 40%;
    left: auto;
    background: #0077c0;
    z-index: 2;
    width: 40px;
    height: 40px
}

.news-slider .slick-next {
    left: 60%;
    right: auto;
    background: #fff;
    width: 40px;
    height: 40px
}

.news-slider .slick-prev:before {
    color: #fff;
    font-family: FontAwesome;
    content: "\F177"
}

.news-slider .slick-next:before {
    color: #0077c0;
    font-family: FontAwesome;
    content: "\F178"
}

.news-slider__item {
    background: #f1f0f0;
    position: relative
}

.news-slider__item--img {
    width: 60%;
    padding-bottom: 0;
    position: relative
}

.news-slider__item--img img {
    width: 100%;
    min-height: 100%
}

.news-slider__item--img .news-slider__item--link-title {
    outline: 0;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 20px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1292cd;
    background: -moz-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, #1292cd), color-stop(100%, #bbd040));
    background: -webkit-linear-gradient(left, #1292cd, #bbd040);
    background: -o-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: -ms-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: linear-gradient(90deg, #1292cd 0, #bbd040)
}

.news-slider__item--img .news-slider__item--link-title a {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    height: 19px;
    overflow: hidden
}

.news-slider__item--inner {
    padding: 0 50px;
    width: 40%;
    float: right;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center
}

.news-slider__item--inner .news__item--link-icon {
    position: absolute;
    bottom: 29px;
    right: 50px
}

.news-slider__item--inner .news__item--link-icon img {
    width: 40px
}

.news-slider__item--title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: block;
    height: 44px;
    overflow: hidden
}

.news-slider__item--title:hover {
    color: #4682b4
}

.news-slider__item--text {
    color: #333;
    margin-bottom: 4px;
    font-size: 15px;
    text-align: justify
}

/* lasted new */

.lastest-new__item {
    margin-bottom: 30px
}

.lastest-new__item--inner {
    overflow: hidden;
    padding-left: 20px
}

.lastest-new__item--title {
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
    overflow: hidden;
    height: 42px;
    font-size: 14px
}

.lastest-new__item--title:hover {
    color: #4682b4
}

.lastest-new__item--text {
    color: #000;
    height: 60px;
    overflow: hidden;
    text-align: justify
}

.lastest-new__item--readmore {
    text-align: right;
    padding-right: 2px
}

.lastest-new__item--readmore a {
    display: inline-block;
    outline: 0
}

.astest-new__item--img {
    width: 39%
}

@media (min-width: 1023px) and (max-width: 1199px) {
    .news-slider__item--title {
        font-size: 15px;
    }

    .news-slider__item--text {
        font-size: 14px;
    }

    .news-slider__item--inner .news__item--link-icon {
        bottom: 15px;
    }
}

@media (max-width: 1022px) {
    .news-slider__item--img {
        float: none !important;
        width: 100%;
    }

    .news-slider__item--inner {
        display: block;
        position: static;
        padding: 30px 40px;
        width: 100%;
        float: none;
    }

    .news-slider__item--inner .news__item--link-icon {
        position: static;
    }

    .news-slider .slick-prev {
        top: 30%;
        right: auto;
        left: 0;
        transform: none;
    }

    .news-slider .slick-next {
        top: 30%;
        right: 0;
        left: auto;
        transform: none;
    }    
}

@media (max-width: 767px) {
    .news-slider__item--inner {
        padding: 20px 15px;
    }
    
    .news-slider__item--img .news-slider__item--link-title {
        bottom: 10px;
        left: 15px;
        right: 15px;
    }

    .news-slider .slick-prev {
        top: 12%;
    }

    .news-slider .slick-next {
        top: 12%;
    }   

}
