.news-page {
    margin-bottom: 30px
}

.news-page__item--inner {
    background: url(../../images/bg-a.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 20px;
    color: #fff
}

.news-page__item--inner h4 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    overflow: hidden
}

.news-page__item--inner span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px
}

.news-page__item--inner p {
    font-size: 16px;
    font-weight: 300px;
    height: 44px;
    overflow: hidden
}

.news-page__item--inner .read-more {
    display: block;
    text-align: right
}

.news-page__item--inner .read-more img {
    display: inline-block;
    width: 40px;
    height: 40px
}

.news-page__item--inner .read-more:hover img {
    opacity: .7
}

.news-page__item--inner.bg-2 {
    background: url(../../images/bg-b.jpg) no-repeat
}

.news-page__item--inner.bg-3 {
    background: url(../../images/bg-c.jpg) no-repeat
}

.news-page__slider {
    /* margin-bottom: 70px!important */
}