.business .title-content {
    margin-bottom: 0
}

.business .business__left {
    width: 33.3333333333%
}

.business .business__right {
    width: 66.6666666667%
}

.business>.nav-tabs>li {
    display: block;
    float: inherit;
    width: 100%;
    margin-bottom: 0
}

.business>.nav-tabs>li>a {
    margin-right: 0;
    border-style: none;
    border-radius: 0;
    font-size: 18px;
    color: #c90;
    font-weight: 300;
    padding: 0;
    line-height: 62px;
    padding-left: 88px;
    border-bottom: 1px solid #ccc
}

.business>.nav-tabs .tabs-title {
    background: linear-gradient(90deg, #02297e, #1a77c7, #5da988, #c2e20c);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 70px;
    padding-left: 70px
}

.business .nav-tabs>li.active>a:focus, .business .nav-tabs>li.active>a:hover, .business .nav>li>a:focus, .business .nav>li>a:hover, .business>.nav-tabs>li.active>a {
    font-weight: 700;
    color: #c90;
    background: 0 0;
    border-style: none;
    border-bottom: 1px solid #ccc
}

.business__tab--inner-item {
    width: 50%
}

.business__tab--inner .nav-tabs>li {
    display: block;
    float: inherit;
    width: 100%;
    margin-bottom: 0
}

.business__tab--inner .nav-tabs>li>a {
    margin-right: 0;
    border-style: none;
    border-radius: 0;
    font-size: 17px;
    color: #c90;
    font-weight: 300;
    padding: 0;
    line-height: 52px;
    padding-left: 88px;
    border-bottom: 1px solid #ccc;
    overflow: hidden
}

.business__tab--inner .nav-tabs>li>a i {
    font-size: 30px;
    line-height: 51px;
    margin-right: 35px
}

.business__tab--inner .nav-tabs .tabs-title {
    background: linear-gradient(90deg, #02297e, #1a77c7, #5da988, #c2e20c);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 70px;
    padding-left: 70px
}

.business__tab--inner .nav-tabs>li.active>a, .business__tab--inner .nav-tabs>li.active>a:focus, .business__tab--inner .nav-tabs>li.active>a:hover, .business__tab--inner .nav>li>a:focus, .business__tab--inner .nav>li>a:hover {
    font-weight: 700;
    color: #c90;
    background: 0 0;
    border-style: none;
    border-bottom: 1px solid #ccc
}

.business__tab--inner-link {
    display: block
}

.business__tab--inner-link img {
    width: 100%
}

.business>ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 95%;
    margin-top: 10px
}

.business ul, .business>ul {
    list-style: none
}

.business ul li {
    position: relative
}

.li-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: #1292cd;
    background: -moz-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, #1292cd), color-stop(100%, #bbd040));
    background: -webkit-linear-gradient(left, #1292cd, #bbd040);
    background: -o-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: -ms-linear-gradient(left, #1292cd 0, #bbd040 100%);
    background: linear-gradient(90deg, #1292cd 0, #bbd040)
}

.business ul li a, .li-title {
    border-bottom: 1px solid #ddd
}

.business ul li a {
    background: #fff;
    display: block;
    padding: 10px 0;
    color: #d19f0f
}

.business ul li a:hover {
    font-weight: 700
}

.business-list>li>ul, .business-list>li>ul>li>ul {
    display: none;
    min-width: 216px;
    z-index: 9999
}

.no-touch .business-list>li:hover>ul, 
.no-touch .business-list>li>ul>li:hover>ul,
.business-list>li.active>ul, 
.business-list>li>ul>li.active>ul {
    display: block;
    position: absolute;
    top: 0;
    left: 100%
}

.business-list>li>ul>li>a, .business-list>li>ul>li>ul>li>a {
    padding: 10px 0 10px 30px;
    text-align: left;
    font-size: 14px
}

.business-list>li>ul>li>ul>li>a {
    background: rgba(215, 243, 254, .9)
}

.business-list ul {
    width: 40%!important;
    margin: 0
}

.business ul li {
    text-align: left
}

.business ul li a {
    padding-left: 55px;
    text-align: left;
    font-size: 15px
}

.li-title {
    text-align: left
}

.business ul .li-title a {
    background: 0 0;
    color: #fff;
    margin: 0;
    border-style: none;
    font-size: 16px
}

.business-list li a img {
    float: right;
    width: 12px;
    margin-right: 15px;
    margin-top: 2px
}

.business-list>li>ul>li>a>img {
    margin-top: 2px;
    width: 10px
}

.business-list-content {
    float: left;
    text-align: right
}

.business-list-content img {
    width: 100%;
    height: 400px
}

.business-inner {
    background: url(../../images/home-business.jpg) no-repeat;
    padding: 40px 0;
    display: flex;
    align-items: center
}

.business-inner .container {
    height: auto
}

.business-inner .row {
    height: auto!important
}


@media (max-width: 1199px) {

    /* .business-list>li.active>ul, */
    .business-list>li:hover>ul, .business-list>li>ul>li:hover>ul,
    .business-list>li:active>ul, .business-list>li>ul>li:active>ul {
        position: absolute;
        display: block;
        top: 42px;
        left: 0;
        width: 100% !important;
    }

    .business-list-content img {
        height: auto;
    }
} 