.qhse-policy {
    background: #efefef;
    margin-bottom: 35px;
    padding-top: 30px;
    padding-bottom: 30px
}

.qhse-policy__content--img {
    width: 100%;
    float: left
}

.qhse-policy__content--inner {
    overflow: hidden;
    padding: 7%
}

.qhse-policy__content--inner p {
    font-size: 18px;
    margin-bottom: 25px
}