.about-milestones__slider-item {
    padding: 0 10px
}

.about-milestones__slider-item--inner {
    border-left: 2px solid #c1cd23
}

.about-milestones__slider--title {
    margin-bottom: 20px;
    padding-left: 15px
}

.about-milestones__slider--title h4 {
    font-size: 25px;
    color: #06c;
    margin-top: 0;
    height: 27px;
    overflow: hidden
}

.about-milestones__slider--title p {
    font-size: 16px;
    height: 44px;
    overflow: hidden;
    margin-bottom: 0
}

.about-milestones__slider--img {
    display: block
}

.about-milestones__slider--img img {
    width: 100%
}

.about-milestones__slider-item.style-2 .about-milestones__slider-item--inner {
    padding-top: 101px
}

.about-milestones__slider-item.style-2 .about-milestones__slider--img {
    margin-bottom: 20px
}

.about-milestones__slider-item.style-2 .about-milestones__slider--title {
    margin-bottom: 0
}

/* @media (max-width: 1199px) {
    .about-milestones__slider .slick-prev {
        left: 100%;
    }
} */