.news__item {
    border: none;
    padding: 0;
    margin-bottom: 10px
}

.news__item .news__item--img {
    display: block;
    margin-bottom: 12px
}

.news__item .news__item--img img {
    width: 100%
}

.news__item .news__item--title {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0;
    height: 25px;
    overflow: hidden
}

.news__item .news__item--title:hover {
    color: #4682b4
}

.news__item p {
    line-height: 22px;
    color: #000;
    height: 66px;
    overflow: hidden;
    margin-bottom: 0
}

.news__item .news__item--link-icon {
    display: inline-block
}

.news__item--link-icon img {
    width: 35px
}

.news__item--link-icon:hover {
    opacity: .5
}