.tenants-content {
    padding: 60px 0;
    padding-bottom: 30px;
    min-height: 600px;
    background: 0 0;
    margin-bottom: 30px
}

.tenants-item {
    padding: 0 25px;
    background: hsla(0, 0%, 100%, .8);
    padding-bottom: 30px;
    margin-bottom: 30px;
    min-height: 225px;
    width: 100%;
    position: relative
}

.tenants-item span {
    display: inline-block;
    color: #fff;
    background: #c4d024;
    padding: 5px 10px;
    font-size: 44px
}

.tenants-item h4 {
    font-style: italic;
    font-size: 21px;
    margin: 15px 0;
    margin-top: 20px
}

.tenants-item .read-more {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(195, 207, 33, .8)
}

.tenants-item .read-more img {
    width: 40px;
    height: 40px
}

.tenants-item .read-more:hover {
    opacity: .6
}

.tenants-item:hover h4 {
    color: #337ab7
}
