.top-header {
    padding: 20px 0
}

.top-header form {
    position: relative;
    margin-top: 10px
}

.top-header form .fa-search {
    position: absolute;
    color: #cc3;
    right: 7px;
    top: 50%;
    font-size: 11px;
    transform: translateY(-50%)
}

.top-header form button {
    border-style: none;
    color: #0077c0;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 0
}

.top-header form button .caret {
    margin-left: 5px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent
}

.top-header form label {
    font-size: 17px;
    color: #cc3;
    font-weight: 400;
    margin-right: 15px;
    margin-bottom: 0;
    padding-left: 15px;
    margin-left: 5px;
    border-left: 1px solid #ccc
}

.top-header form input {
    height: 23px;
    width: 243px;
    border: 1px solid #cc3;
    border-radius: 0;
    margin-bottom: 4px;
    outline: 0;
    padding-right: 20px
}

.top-header form .form-group {    
    margin-top: 6px;
    margin-left: 12px;
}

@media (max-width: 767px) {
    .logo,
    .top-header form,
    .top-header form .search-inp {
        float: none !important;
    }

    .logo {
        display: block;
    }

    .logo img {
        max-width: 100%;
    }
    
    header  .menu {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    header .menu > li {
        display: block;
    }

    header .menu > li > a {
        font-size: 15px;
    }

    .top-header form .search-inp {
        margin: 10px 0;
    }

    .top-header form .search-inp label {
        display: none;
    }

    .top-header form input {
        width: 100%;
    }
}