.about-culture {
    padding: 30px 0;
    padding-bottom: 0
}

.about-culture__item {
    padding: 50px 0
}

.about-culture__item--content-img {
    width: 80px;
    margin-bottom: 20px
}

.about-culture__item.bg-1 {
    background: #f1faf6
}

.about-culture__item.bg-2 {
    background: #ebf9fe
}

.about-culture__item--content {
    padding: 45px 30px
}

.about-culture__item--content h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
    height: 26px;
    overflow: hidden
}

.about-culture__item--content p {
    font-size: 18px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 15px
}

.about-culture__item--content a {
    font-size: 20px;
    color: #039
}

.about-culture__item--content a img {
    margin-left: 10px;
    width: 20px
}

.about-culture__item--content a:hover {
    color: #337ab7
}

.about-culture__item--img {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.about-culture__item--content .lastest-new__item--readmore {
    text-align: left;
}