.award-content-top {
    position: relative;
    margin-top: -70px;
    min-height: 276px
}

.award-item {
    width: 20%;
    float: left;
    text-align: center
}

.award-item a {
    display: inline-block
}

.award-item a img {
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 10px
}

.award-item a span {
    color: #666;
    font-weight: 700;
    font-size: 16px;
    display: block;
    margin-bottom: 10px
}

.award-item a:after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 6px;
    width: 30%;
    background: #4099d0
}

.award-item a:hover img {
    width: 80%;
    transition: all .3s ease
}

.award-item a:hover:after {
    width: 60%;
    transition: all .3s ease
}

.award-content-bot__item {
    width: 45%
}

.award-content-bot__item h4 {
    text-transform: uppercase;
    background: #c4d024;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px
}

.award-content-bot__item p {
    text-align: justify;
    font-size: 16px
}

.award {
    padding-bottom: 30px
}

.award-content-bot__item h4 {
    color: #fff;
    background: #1292cd;
    background: -moz-linear-gradient(left,#1292cd 0,#bbd040 100%);
    background: -webkit-gradient(left top,right top,color-stop(0,#1292cd),color-stop(100%,#bbd040));
    background: -webkit-linear-gradient(left,#1292cd,#bbd040);
    background: -o-linear-gradient(left,#1292cd 0,#bbd040 100%);
    background: -ms-linear-gradient(left,#1292cd 0,#bbd040 100%);
    background: linear-gradient(90deg,#1292cd 0,#bbd040);
}
.award-item a:after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 6px;
    width: 30%;
    background: #1292cd;
    background: -moz-linear-gradient(left,#1292cd 0,#bbd040 100%);
    background: -webkit-gradient(left top,right top,color-stop(0,#1292cd),color-stop(100%,#bbd040));
    background: -webkit-linear-gradient(left,#1292cd,#bbd040);
    background: -o-linear-gradient(left,#1292cd 0,#bbd040 100%);
    background: -ms-linear-gradient(left,#1292cd 0,#bbd040 100%);
    background: linear-gradient(90deg,#1292cd 0,#bbd040);
}

@media (max-width: 767px) {
    .award-content-top {
        /* display: table; */
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        min-height: auto;
    }

    .award-item {
        float: none;
        display: block;
        width: 100%;
        /* vertical-align: top; */
    }

    .award-item a img {
        width: auto;
        max-width: 90px;
    }
    .award-item a span {
        font-size: 15px;
    }

    .award-content-bot__item {
        float: none !important;
        width: 100%;
    }

    .award-content-bot__item h4 {
        font-size: 20px;
    }
}