.contact-page{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-location{
    min-height: 225px;
    width: 100%;
}
.contact-location h2{
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #c2e20c;
    font-size: 20px;
}

.contact-location p{
    margin-bottom: 0;
}
.contact-location p span{
    display: block;
    float: left;
    width: 30px;
    color: #c2e20c;
}