@import '../component/_about-us.css';
@import '../component/_our-business.css';
@import '../component/_news-homepage.css';
@import '../component/_sustainability-homepage.css';
@import '../component/_events.css';

.banner-slider__item .banner-slider__title p {
    line-height: 1.2em;
}

@media (max-width: 640px) {
    .banner-slider__item .banner-slider__title p {
        font-size: 2em;
    }
}