
.news-all-style .main-news__item--img {
    width: 46%
}

.main-news__title {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px
}

.main-news__item {
    margin-bottom: 50px
}

.main-news__item--title {
    width: 62%;
    height: 275px;
    color: #fff;
    padding: 40px 60px;
    padding-bottom: 30px
}

.main-news__item--img {
    width: 37.5%;
    overflow: hidden
}

.main-news__item--img img {
    width: 100%;
    height: 275px
}

.main-news__item--title h4 {
    margin-bottom: 25px
}

.main-news__item--title h4 span {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    display: block;
    margin-top: 10px
}

.main-news__item--title p {
    margin-bottom: 45px;
    height: 38px;
    overflow: hidden
}

.main-news__item--title a {
    display: block;
    color: #fff;
    text-align: right
}

.main-news__item--title a i {
    font-size: 27px;
    width: 52px;
    height: 52px;
    border: 4px solid #fff;
    border-radius: 50%;
    text-align: center
}

.main-news__item--title a:hover i {
    border-color: #00bfff!important
}

.main-news__item--title a:hover {
    color: #00bfff
}

.main-news__item--title a i:before {
    line-height: 44px
}

.news-all-style .main-news__item--title {
    width: 54%;
    padding: 35px;
    height: 200px
}

.news-all-style .main-news__item--img img {
    height: 200px
}

.news-all-style .main-news__item--title h4 {
    font-size: 14px
}

.news-all-style .main-news__item--title h4 span {
    font-size: 13px
}

.news-all-style .main-news__item--title a i {
    font-size: 22px;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
    text-align: center
}

.news-all-style .main-news__item--title a i:before {
    line-height: 36px
}

.news-all-style .title-content, .news-style2 .title-content {
    margin-bottom: 50px
}

.news-style2__img {
    width: 100%
}

.news-all-style2 {
    padding-top: 0
}

.news-all-style2-inner {
    position: relative
}

.news-style2__title {
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    left: 0;
    top: 15px;
    padding: 50px 70px;
    margin: 0;
    background: #c3d021;
    width: 40%
}

.news-style2__title span {
    text-transform: none;
    font-size: 16px;
    display: block;
    font-weight: 300;
    margin-top: 6px
}

.news-style2__inner {
    width: 87%;
    margin: 0 auto;
    background: #fff;
    padding: 70px 100px;
    box-shadow: 0 2px 15px #888;
    margin-top: -300px;
    position: relative;
    margin-bottom: 30px
}

.news-style2__inner h4 {
    text-transform: uppercase;
    font-size: 32px;
    color: #000;
    margin-bottom: 36px;
    margin-top: 0;
    font-weight: 700
}

.news-style2__inner p {
    color: #000;
    margin-bottom: 30px;
    line-height: 28px;
    font-size: 20px
}

.main-news__item--title.bg-1 {
    background: url(../../images/news-item-bg1.jpg) no-repeat;
    background-size: cover;
    background-position: 50%
}

.main-news__item--title.bg-2 {
    background: url(../../images/news-item-bg2.jpg) no-repeat;
    background-size: cover;
    background-position: 50%
}

.others-news__list {
    width: 100%;
    margin-bottom: 35px
}

.others-news__list li {
    display: block;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    position: relative
}

.others-news__list li:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #9c6;
    left: 0;
    top: 2px
}

.others-news__list li a {
    display: block;
    font-weight: 700;
    color: #000
}

.others-news__list li a:hover {
    color: #00bfff
}

.others-news__list li i {
    display: block;
    color: #000
}
