.news-all-style {
    padding-top: 20px
}

.news-style__img {
    position: relative;
    overflow: hidden
}

.news-style1 .news-style__img, .news-style6 .news-style__img {
    text-align: right
}

.news-style1 .news-style__img img, .news-style6 .news-style__img img {
    display: inline-block;
    width: 79%
}

.news-style2 .news-style__img img, .news-style3 .news-style__img img, .news-style4 .news-style__img img, .news-style5 .news-style__img img {
    width: 100%
}

.news-style__title {
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding: 70px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0
}

.news-style__title span {
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
    display: block;
    margin-top: 10px;
    line-height: 24px;
    font-weight: 300
}

.news-style1 .news-style__title, .news-style4 .news-style__title {
    background: rgba(204, 204, 51, .9);
    bottom: 0;
    left: 0;
    width: 52%
}

.news-style2 {
    margin-bottom: 30px
}

.news-style2 .news-style__title {
    background: rgba(0, 204, 204, .9);
    top: 0;
    left: 0;
    width: 52%
}

.news-style3 .news-style__title {
    background: rgba(51, 153, 204, .9);
    top: 70px;
    right: 0;
    width: 40%
}

.news-style5 .news-style__title {
    background: rgba(51, 153, 204, .9);
    top: 0;
    right: 0;
    bottom: 0;
    width: 58%
}

.news-style5 .news-style__title span {
    margin-top: 0
}

.news-style__text {
    font-style: italic;
    font-weight: 600;
    color: #000;
    font-size: 18px;
    margin-top: 30px
}

.news-style1 .news-style__text {
    width: 79%;
    float: right;
    margin-bottom: 60px
}

.news-style6 .news-style__text {
    width: 79%;
    float: right;
    margin-bottom: 80px
}

.news-style6 .news-style__text span {
    font-style: normal;
    font-weight: 400;
    display: block;
    margin-top: 30px;
    font-weight: 300;
    font-size: 17px
}

.news-style3 .news-style__text, .news-style4 .news-style__text {
    text-align: center;
    padding: 0 60px;
    line-height: 27px;
    margin-bottom: 30px
}

.news-style5 {
    margin-bottom: 50px
}

.news-all-style .main-news__item--img {
    width: 46%
}

.main-news__title {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px
}

.main-news__item {
    margin-bottom: 50px
}

.main-news__item--title {
    width: 62%;
    height: 275px;
    color: #fff;
    padding: 40px 60px;
    padding-bottom: 30px
}

.main-news__item--img {
    width: 37.5%;
    overflow: hidden
}

.main-news__item--img img {
    width: 100%;
    height: 275px
}

.main-news__item--title h4 {
    margin-bottom: 25px
}

.main-news__item--title h4 span {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    display: block;
    margin-top: 10px
}

.main-news__item--title p {
    margin-bottom: 45px;
    height: 38px;
    overflow: hidden
}

.main-news__item--title a {
    display: block;
    color: #fff;
    text-align: right
}

.main-news__item--title a i {
    font-size: 27px;
    width: 52px;
    height: 52px;
    border: 4px solid #fff;
    border-radius: 50%;
    text-align: center
}

.main-news__item--title a:hover i {
    border-color: #00bfff!important
}

.main-news__item--title a:hover {
    color: #00bfff
}

.main-news__item--title a i:before {
    line-height: 44px
}

.news-all-style .main-news__item--title {
    width: 54%;
    padding: 35px;
    height: 200px
}

.news-all-style .main-news__item--img img {
    height: 200px
}

.news-all-style .main-news__item--title h4 {
    font-size: 14px
}

.news-all-style .main-news__item--title h4 span {
    font-size: 13px
}

.news-all-style .main-news__item--title a i {
    font-size: 22px;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
    text-align: center
}

.news-all-style .main-news__item--title a i:before {
    line-height: 36px
}

.news-all-style .title-content, .news-style2 .title-content {
    margin-bottom: 50px
}


.main-news__item--title.bg-1 {
    background: url(../../images/news-item-bg1.jpg) no-repeat;
    background-size: cover;
    background-position: 50%
}

.main-news__item--title.bg-2 {
    background: url(../../images/news-item-bg2.jpg) no-repeat;
    background-size: cover;
    background-position: 50%
}

.others-news__list {
    width: 100%;
    margin-bottom: 35px
}

.others-news__list li {
    display: block;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 40px;
    position: relative
}

.others-news__list li:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #9c6;
    left: 0;
    top: 2px
}

.others-news__list li a {
    display: block;
    font-weight: 700;
    color: #000
}

.others-news__list li a:hover {
    color: #00bfff
}

.others-news__list li i {
    display: block;
    color: #000
}
