.pre-content-page {
    background: rgba(239, 242, 248, .8);
    padding: 50px 0
}

.pre-content-page .guide-title {
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px
}

.pre-content-page .pre-img {
    max-width: 100%
}

.pre-content-page .pre-item {
    margin: 20px 85px 0
}

.pre-content-page .pre-item p {
    text-align: center
}