@import '../component/_slider-milestones.css';
@import '../component/_about-infrastructure.css';
@import '../component/_about-leaft.css';

@media (max-width: 1022px) {
    .about-img-big {
        min-height: auto;
    }
    .partners-slider .slick-prev {
        left: 0 !important;
    }

    .partners-slider .slick-next {
        right: 0 !important;
    }

    .about-milestones-inner {
        margin-bottom: 30px;
    }

    .about-milestones-inner .page-heading {
        margin-bottom: 30px;
    }

    .about-infrastructure-2 .col-md-3 {
        width: 100%;
    }

    .about-infrastructure-2 .col-md-4 .about-infrastructure__item {
        margin-bottom: 30px;
    }

    .list-milestones .col-md-4:last-child .about-infrastructure__item {
        margin-bottom: 0;
    }
}


@media (max-width: 767px) {
    .list-milestones .page-heading h2 {
        font-size: 22px;
    }
}