.group-item {
    background: #eff2f8;
    margin-bottom: 40px
}

.group-item .column {
    display: table
}

.group-item .column-img {
    position: relative
}

.group-item .column-img img {
    max-width: 100%
}

.group-item .column-img p {
    position: absolute;
    background: linear-gradient(90deg, rgba(18, 146, 205, .8) 0, rgba(187, 208, 64, .8));
    padding: 10px 15px 10px 45px;
    bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #fff
}

.group-item .column-text {
    padding: 30px 30px 30px 60px;
    vertical-align: middle;
    text-align: justify;
    font-size: 17px
}

.group-item .column-text p {
    text-align: left;
    clear: both;
    vertical-align: middle
}

.group-item .column-text .icon-check {
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
    margin-top: 6px
}