.investment-content-page {
    background: url(../../images/our-investment-bg.jpg) no-repeat;
    padding: 40px 0;
    display: flex;
    align-items: center
}

.investment-content-page .text-noti {
    text-align: center;
    font-style: italic;
    color: #fff;
    font-size: 20px;
    padding: 30px 50px 0
}

.investment-table tbody>tr>td {
    padding: 35px;
    vertical-align: middle;
    text-align: center
}

.blue-color {
    background: rgba(54, 139, 192, .7);
    width: 25%;
    color: #fff;
    font-size: 24px
}

.blue-color, .white-color {
    border-right: 1px solid #fff
}

.white-color {
    background: hsla(0, 0%, 100%, .7);
    font-size: 20px
}

.green-color {
    background: rgba(173, 217, 38, .7);
    font-size: 20px;
    border: none
}

.blue-color:last-child, .white-color:last-child {
    border-right: none
}
