.about-3-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px
}

.about-3-item a {
    display: block;
    text-align: center
}

.about-3-item a img {
    width: 70%
}

.about-3-item__link {
    display: block;
    text-align: center;
    font-size: 20px
}

.call-contact {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center
}

.call-contact img {
    width: 70%;
    display: inline-block
}

@media (max-width: 767px) {
    .list-milestones .page-heading h2 {
        font-size: 22px;
    }
    
    .about-img-big {
        min-height: 400px;
    }

    .about-3-item {
        min-height: 200px;
    }

    .call-contact {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .call-contact img {
        width: 100%;
    }
}