/* .post-content-page {
    background: url(../images/our-post-licensingt-bg.jpg) no-repeat;
    padding: 50px 0
} */

.post-content-page .post-licensing {
    background: rgba(0, 119, 192, .7);
    position: relative
}

.post-content-page .post-licensing img {
    max-width: 100%;
    position: relative
}

.post-content-page .post-licensing .post-lice {
    position: absolute;
    color: #fff;
    width: 180px;
    font-size: 18px
}

.post-content-page .post-licensing .post-lice-1 {
    left: 130px;
    top: 300px;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    word-break: break-all
}

.post-content-page .post-licensing .post-lice-1 a {
    color: #fff
}

.post-content-page .post-licensing .post-lice-2 {
    left: 560px;
    top: 300px
}

.post-content-page .post-licensing .post-lice-3 {
    top: 125px;
    right: 100px
}

.post-content-page .post-licensing .post-lice-4 {
    right: 100px;
    top: 305px
}

.post-content-page .post-licensing .post-lice-5 {
    right: 100px;
    top: 505px
}

.post-content-page .post-licensing .bottom-arrow {
    width: 150px;
    position: absolute;
    bottom: -50px
}