@import '../component/_charity-events.css';
@import '../component/_csr-programme.css';
@import '../component/_qhse-policy.css';

@media (max-width: 767px) {
    .banner-slider__item .banner-slider__title h2 {
        font-size: 26px;
    }

    .banner-slider-page .banner-slider__item img {
        height: 400px;
    }
}