@import 'component/_top-header.css';
@import 'component/_menu.css';
@import 'component/_banner-slide.css';
@import 'component/_business.css';

@media (max-width: 767px) {
    .form-year {
        padding: 0 15px;
    }

    .form-year .select-item {
        display: block;
        width: 100%;
        float: none;
    }
}