.title-content h3.title-our-business:after {
    width: 136px;
}
.title-content h3.our-news:after {
    width: 104px;
}
.title-content h3.our-sustainability:after {
    width: 154px;
}
.title-content h3.our-events:after {
    width: 74px;
}
.share-holding-banner-inner p {
    font-size: 18px;
}

.about-culture__item--content .lastest-new__item--readmore {
    text-align: left;
}
.all-event__item--inner h4 span{
    width: 50px;
}

footer .pull-left, footer .pull-right {
    line-height: 34px;
}

h3.title-recent-event:after{
    width: 152px;
}
h3.title-all-event:after{
    width: 113px;
}

h3.title-charity-events:after{
    width: 162px;
}
h3.title-charity-events:after{
    width: 162px;
}
h3.title-csr-programme:after{
    width: 168px;
}
h3.title-qhse-policy:after{
    width: 124px;
}
h3.our-news:after{
    width: 54px;
}
h3.title-tenants:after{
    width: 148px;
}
h3.title-commercial-residential:after{
    width: 275px;
}
h3.title-industrial-park:after{
    width: 169px;
}
.about-infrastructure__item--title h4 {
    height: auto;
}

.partners-slider .about-milestones__slider--img {
    display: table-cell;
    height: 200px;
    vertical-align: middle;
    padding: 15px;
}

.partners-slider .slick-next, .partners-slider .slick-prev, .charity__slider .slick-next, .charity__slider .slick-prev, .news-page__slider .slick-next, .news-page__slider .slick-prev, .recent-event__slider .slick-next, .recent-event__slider .slick-prev {
    width: 20px;
    height: 39px;
    z-index: 2;
    top: 50%;
}
.slick-next, .slick-next:focus, .slick-next:hover, .slick-prev, .slick-prev:focus, .slick-prev:hover {
    color: transparent;
    outline: 0;
    background: 0 0;
}
.partners-slider .slick-prev, .charity__slider .slick-prev, .news-page__slider .slick-prev, .recent-event__slider .slick-prev {
    left: -40px!important;
    background: url('../images/left.png') no-repeat;
    background-size: cover;
    background-position: 50%;
}
.partners-slider .slick-next:before, .partners-slider .slick-prev:before, .charity__slider .slick-next:before, .charity__slider .slick-prev:before, .news-page__slider .slick-next:before, .news-page__slider .slick-prev:before, .recent-event__slider .slick-next:before, .recent-event__slider .slick-prev:before {
    content: "";
}
.partners-slider .slick-next, .charity__slider .slick-next, .news-page__slider .slick-next, .recent-event__slider .slick-next {
    right: -40px!important;
    background: url(../images/right.png) no-repeat;
    background-size: cover;
    background-position: 50%;
}
.about-infrastructure-2 .about-infrastructure__item--title p {
    height: 88px;
    font-size: 22px !important;
    margin: 0;
}

p.bottom30{
    margin-bottom: 30px !important;
}

.singapore h2, .singapore p span{
    color: #1a77c7;
}
.recent-event {
    padding-top: 50px;
}
.post-content-page {
    background: transparent;
    padding: 50px 0;
}
ul.slick-dots li a{
    font-size: 15px;
    height: 20px;
    width: 20px;    
    display: inline-block;
}
.charity__slider .slick-list, .csr__sider .slick-list, .news-page__slider .slick-list{
    margin-bottom: 10px;
}
.share-holding-content{
    background: #f4f9ff;
}
.share-holding-content .container{
    position: relative;
}
.share-holding-content .logo-bg{
    position: absolute;
    top: 23%;
    z-index: 0;
    width: 500px;
    height: auto;
    left: 0;
    right: 12%;
    margin: auto;
}
.post-share-holding{
    position: relative;
    z-index: 99;
}
.share-holding-text {
    background: rgba(255, 255, 255, 0.9);
}
.slick-dots .slick-active a{
    color: #bbd040;
    border: 1px solid;
}
.news-page__slider {
    margin-bottom: 10px!important;
}
.mrbottom70{
    margin-bottom: 70px;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination-sm>li>a, .pagination-sm>li>span {
    margin: 0 2px;
}
.pagination-sm>li.active>a{
    background: #bbd040;
    border: 1px solid #bbd040;
}
.about-milestones__slider-item.style-2 .about-milestones__slider-item--inner {
    margin-top: 101px;
    padding-top: 0;
}
.business-inner {
    background: url('../images/home-business.png') no-repeat;
}

@media (min-width: 1024px) {
    .banner {
        max-height: 720px;
        height: 720px;
    }
}

@media (min-width: 1280px) and (max-width: 1440px) {
    .about-infrastructure__item--title h4{
        font-size: 13px;
    }
    .about-infrastructure__item--title p {
        font-size: 12px;
        height: auto;
    }
    .about-img-big {
        min-height: 540px;
        margin-bottom: 30px;
    }
}
